* {
  font-style: italic;
}

body {
  background-image: url("/assets/images/greenimage.jpeg");
  background-size: cover;
}

.tile > p {
  position: absolute;
  inset: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}

.tile {
  border-radius: 1vmax;
  position: absolute;
  transition: transform 800ms ease;
  z-index: 1;
  box-shadow: 10px 20px 10px 0 rgba(0, 0, 0, 0.336);
}

.tile:hover {
  transform: scale(1.1);
}

.tile:hover > img {
  opacity: 1;
  transform: scale(1.01);
}

.tile > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: inherit;
  opacity: 0;
  transition: opacity 800ms ease, transform 800ms ease;
}
.tile:nth-child(1) {
  background-image: url("/assets/HealthyFoods/FoodImages/Japan-Flag.jpeg");
  background-size: cover;
  height: 19%;
  width: 22%;
  left: 8%;
  top: 20%;
}

.tile:nth-child(2) {
  background-image: url("/assets/HealthyFoods/FoodImages/mexicanflag.jpeg");
  background-size: cover;
  height: 19%;
  width: 22%;
  left: 8%;
  top: 54%;
}

.tile:nth-child(3) {
  background-image: url("/assets/HealthyFoods/FoodImages/italianFlag.jpeg");
  background-size: cover;
  height: 19%;
  width: 22%;
  left: 69%;
  top: 20%;
}

.tile:nth-child(4) {
  background-image: url("/assets/HealthyFoods/FoodImages/Indian-flag.png");
  background-size: cover;
  height: 19%;
  width: 22%;
  left: 69%;
  top: 54%;
}

.tile:nth-child(5) {
  background-image: url("/assets/HealthyFoods/FoodImages/greekFlag.webp");
  background-size: cover;
  height: 19%;
  width: 22%;
  left: 39%;
  top: 6%;
}

.tile:nth-child(6) {
  background-image: url("/assets/HealthyFoods/FoodImages/chineseflag.jpeg");
  background-size: cover;
  height: 19%;
  width: 22%;
  left: 39%;
  top: 68%;
}

.tile:nth-child(7) {
  /* background: linear-gradient(to right,#e06363,#a6fa9b); */
  background-image: url("/assets/HealthyFoods/FoodImages/confused.png");
  background-size: cover;
  height: 19%;
  width: 22%;
  left: 39%;
  top: 37%;
}

