.hide {
  display: none;
}

body {
  background-image: url("/assets/images/paint_grunge_green_124502_2560x1440.jpg");
  background-size: inherit;
}

/* text */
#idkTile > p {
  font-style: italic;
  position: absolute;
  inset: 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
  font-size: 40px;
  margin-right: 120px;
}

.foodTiles {
  position: relative;
}
p {
  position: absolute;
  bottom: 0;
  inset: 0;
  background-color: transparent;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 40px;
  margin: 6%;
  
}

/* hover effects */

.tile {
  border-radius: 1vmax;
  position: absolute;
  transition: transform 800ms ease;
  z-index: 1;
  box-shadow: 10px 20px 10px 0 rgba(0, 0, 0, 0.336);
}

.tile:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.tile:hover > img {
  opacity: 1;
  transform: scale(1.01);
}

#hoverEffect {
  box-shadow: 10px 20px 10px 0 rgba(0, 0, 0, 0.336);
}

#hoverEffect:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: transform 300ms ease;
}

.tile > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: inherit;
  opacity: 0;
  transition: opacity 800ms ease, transform 800ms ease;
}

img {
  height: 85%;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
}

/* cuisine tiles */
.tile:nth-child(1) {
  background-image: url(/assets/HealthyFoods/FoodImages/Japan-Flag.jpeg);
  background-size: cover;
  height: 19%;
  width: 22%;
  left: 8%;
  top: 20%;
}

.tile:nth-child(2) {
  background-image: url(/assets/HealthyFoods/FoodImages/mexicanflag.jpeg);
  background-size: cover;
  height: 19%;
  width: 22%;
  left: 8%;
  top: 54%;
}

.tile:nth-child(3) {
  background-image: url(/assets/HealthyFoods/FoodImages/italianFlag.jpeg);
  background-size: cover;
  height: 19%;
  width: 22%;
  left: 69%;
  top: 20%;
}

.tile:nth-child(4) {
  background-image: url(/assets/HealthyFoods/FoodImages/Indian-flag.png);
  background-size: cover;
  height: 19%;
  width: 22%;
  left: 69%;
  top: 54%;
}

.tile:nth-child(5) {
  background-image: url(/assets/HealthyFoods/FoodImages/greekFlag.webp);
  background-size: cover;
  height: 19%;
  width: 22%;
  left: 39%;
  top: 6%;
}

.tile:nth-child(6) {
  background-image: url(/assets/HealthyFoods/FoodImages/chineseflag.jpeg);
  background-size: cover;
  height: 19%;
  width: 22%;
  left: 39%;
  top: 68%;
}

.tile:nth-child(7) {
  background-image: url(/assets/JunkFoods/FoodImages/simpson.jpeg);
  background-size: cover;
  height: 19%;
  width: 22%;
  left: 39%;
  top: 37%;
}

#foodTiles {
  border-radius: 1vmax;
  box-shadow: 10px 20px 10px 0 rgba(0, 0, 0, 0.336);
}

#Button, #homeButton {
  background: linear-gradient(to right,#8c2525f6, #e06363);
  border: none;
  font-size: clamp(2rem, 1vw, 3rem);
  padding: 0.8em 2em;
  margin-left:50px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s; 
  color: rgb(0, 0, 0);            
  box-shadow: 10px 20px 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  cursor: pointer;

  clip-path: polygon(100% 0%, 90% 50%, 100% 100%, 20% 99%, 0% 50%, 20% 0%);
}


#Button:hover, #homeButton:hover{
  transform: scale(1.1);
  cursor: pointer;
  transition: transform 300ms ease;
}

/* dish tiles*/
.TileOne {
  background-color: rgb(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  height: 60%;
  width: 25%;
  left: 21%;
  top: 17%;
  position: absolute;
  border-radius: 60px;
}

.TileTwo {
  background-color: rgb(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  height: 60%;
  width: 25%;
  left: 56%;
  top: 17%;
  position: absolute;
  border-radius: 60px;
}


