@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


/* 
    Page defaults
*/

:root {
    /* --primary-green: #a6fa9b; */
    background-image: url('/assets/images/paint_grunge_green_124502_2560x1440.jpg');
    --secondary-red: #e06363;
    --text-color: black;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
    
}
a {
    text-decoration: none;
}
/* a:visited {
    color: var(--secondary-red);
} */

/* 
    Bottom right red circle
*/
main::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#8c2525f6, #e06363);
    clip-path: circle(50% at right 100%);
    z-index: 0;
}

/* 
    Nav/header
*/
header {
    width: 100%;
    padding: 2.5em 0;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    position: absolute;
}
nav {
    padding: 0 4em;
    display: flex;
    gap: 50px;
    
    
}
nav > a {
    color: black;
    font-size: 1.6rem;
    
    
}

main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--primary-green);
}



/* 
    Main content
*/

.container {
    height: 100%;
    flex-direction: column;
    padding-left: 4em;
    font-weight: bold;
}
span {
    color: rgb(222, 8, 8);
}
.content  {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 10em;
}
.contentOne  {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-bottom: 60px;
    
}
h2 {
    margin-left: 100px;
    font-size: clamp(2rem, 2vw, 4rem);
    word-wrap: break-word;
    white-space: normal;
}

h1 {
    font-size: clamp(2rem, 2vw, 4rem);
    word-wrap: break-word;
    white-space: normal;
    
}

.img-container {
    position: relative;
    z-index: 2;
    width: 65em;
    display: flex;
    justify-content: flex-end;
}
.img-container > img {
   
    width: 100%;
}

/* 
    Food and drink buttons
*/
.btns{
    display: flex;
    gap: 40px;
}
.btn {
    background: var(--secondary-red);
    border: none;
    font-size: clamp(2rem, 1vw, 3rem);
    padding: 0.8em 2em;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    color: rgb(0, 0, 0);            
    box-shadow: 10px 20px 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    cursor: pointer;
  }

  .btn:hover {
    background: #e52d27af;
  }

/* 
    Search bar
*/
#search-bar {
    margin-top: 100px;
    display: flex;
    align-items: center;
    gap: 20px;
}
#search-recipe {
    border: none;
    border-bottom: 1px solid var(--secondary-red);
    font-size: 2em;
    padding: 0.5em 0;
    background-color: transparent;
}
#search-btn {
    background: var(--secondary-red);
    border: none;
    font-size: 1.8rem;
    color: rgb(255, 255, 255);
    padding: 10px 25px;
    border-radius: 10px;
    transition: all 0.5s;
    opacity: 0;

}

::placeholder {
    color: black;
}

.hide {
    display: none;
}


@media screen and (max-width: 1300px) {
    .content {
        padding-top: 15em;
    }
    main {
        flex-direction: column;
    }
    #search-bar {
        flex-direction: column;
    }
    .content {
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .container {
        padding-left: 0;
    }
    main::after {
        display: none;
    }
    .img-container {
        display: none;
    }
}
@media screen and (max-width: 970px) {
   
    .btn {
        padding: 0.4em 1em;
    }

    #search-recipe {
        font-size: 1.6rem;
        padding: 0;
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    #search-recipe {
        font-size: 1.2rem;
    }
}