:root {
    --primary-green: #a6fa9b;
    --secondary-red: #A83E3C;
    --text-color: black;
}


* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
}
a {
    text-decoration: none;
}
a:visited {
    color: #A83E3C;
}

header {
    width: 100%;
    padding: 2.5em 0;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    background-color: var(--primary-green);
    position: absolute;
    z-index: 2;
}
nav {
    padding: 0 4em;
    display: flex;
    gap: 50px;
    align-items: center;
 
}
nav > a {
    color: var(--secondary-red);
    font-size: 1.4rem;
}
nav > input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    padding-left: 1em;
    font-size: 1.4em;
}
main {
    width: 100%;
    min-height: 100vh;
    background-color: var(--primary-green);
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 1em;
    font-size: 1.4rem;
}
section > h1 {
    border-bottom: 1px solid rgba(112, 112, 112, 0.544);
}
section > ul {
    font-size: 1.3rem;

}
.heading {
    padding-top: 8em;
    text-align: center;
}
.container {
    max-width: 1240px;
    margin: auto;
   
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
}
.recipe-info {
    font-size: 1.6rem;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


.container > img {
    width: 60em;
}

.health-labels {
    margin-top: 50px;
    font-size: 1.3rem;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 2em;
    text-align: center;
    min-width: 20em;
    max-width: 20em;
}